set -e

DIR=`pwd`

init() {
if [ ! -d $DIR/$1/node_modules ] ; then
  if ! [ -x "$(command -v pnpm)" ]; then
    npm install -g pnpm
  fi

  cd $DIR/$1
  npx pnpm i
  cd $DIR
fi
}

init .

PATH_add ./.direnv/bin
